<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Students</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Student List</h1>
            <div class="table-container">
                <table class="table is-bordered is-fullwidth">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email ID</th>
                            <th>DOB</th>     
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                            <tr>
                                <td>{{ student.id }}</td>
                                <td><a href="{% url 'student' student.id  %}">{{ student.name }}</a></td>
                                <td>{{ student.email }}</td>
                                <td>{{ student.dob }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>
